
/*** BG ***/
/* BG select */
body{
background-repeat: repeat;
background-position: center top;
}

#page{background: #fff;}

/* BG */
.custom_pattern{background-image: url(../img/patterns/custom_pattern.png);}

.bg1{background-image: url(../img/patterns/bg1.png);}
.bg2{background-image: url(../img/patterns/bg2.png);}
.bg3{background-image: url(../img/patterns/bg3.png);}
.bg4{background-image: url(../img/patterns/bg4.png);}
.bg5{background-image: url(../img/patterns/bg5.png);}
.bg6{background-image: url(../img/patterns/bg6.png);}
.bg7{background-image: url(../img/patterns/bg7.png);}
.bg8{background-image: url(../img/patterns/bg8.png);}
.bg9{background-image: url(../img/patterns/bg9.png);}
.bg10{background-image: url(../img/patterns/bg10.png);}
.bg11{background-image: url(../img/patterns/bg11.png);}
.bg12{background-image: url(../img/patterns/bg12.png);}
.bg13{background-image: url(../img/patterns/bg13.png);}
.bg14{background-image: url(../img/patterns/bg14.png);}
.bg15{background-image: url(../img/patterns/bg15.png);}
.bg16{background-image: url(../img/patterns/bg16.png);}
.bg17{background-image: url(../img/patterns/bg17.png);}
.bg18{background-image: url(../img/patterns/bg18.png);}
.bg19{background-image: url(../img/patterns/bg19.png);}
.bg20{background-image: url(../img/patterns/bg20.png);}
.bg21{background-image: url(../img/patterns/bg21.png);}
.bg22{background-image: url(../img/patterns/bg22.png);}
.bg23{background-image: url(../img/patterns/bg23.png);}
.bg24{background-image: url(../img/patterns/bg24.png);}
.bg25{background-image: url(../img/patterns/bg25.png);}
.bg26{background-image: url(../img/patterns/bg26.png);}
.bg27{background-image: url(../img/patterns/bg27.png);}
.bg28{background-image: url(../img/patterns/bg28.png);}
.bg29{background-image: url(../img/patterns/bg29.png); background-color: #C56EC0;}
.bg30{background-image: url(../img/patterns/bg30.png);}
.bg31{background-image: url(../img/patterns/bg31.png); background-color: #44A91A;}
.bg32{background-image: url(../img/patterns/bg32.png);}
.bg33{background-image: url(../img/patterns/bg33.png);}
.bg34{background-image: url(../img/patterns/bg34.png);}
.bg35{background-image: url(../img/patterns/bg35.png);}
.bg36{background-image: url(../img/patterns/bg36.png);}
.bg37{background-image: url(../img/patterns/bg37.png);}
.bg38{background-image: url(../img/patterns/bg38.png); background-color: #000000;}



/* Textures */
.custom_texture{background-image: url(../img/textures/custom_texture.jpg);}
.texture01{background-image: url(../img/textures/texture01.jpg);}
.texture02{background-image: url(../img/textures/texture02.jpg);}
.texture03{background-image: url(../img/textures/texture03.png);}
.texture04{background-image: url(../img/textures/texture04.jpg); background-size: 100%; background-repeat: no-repeat; background-color: #fbfbfb;}
.texture05{background-image: url(../img/textures/texture05.jpg);}
.texture06{background-image: url(../img/textures/texture06.png);}
.texture07{background-image: url(../img/textures/texture07.png);}
.texture08{background-image: url(../img/textures/texture08.png);}
.texture09{background-image: url(../img/textures/texture09.png);}
.texture10{background-image: url(../img/textures/texture10.png);}
.texture11{background-image: url(../img/textures/texture11.png);}
.texture12{background-image: url(../img/textures/texture12.png);}
.texture13{background-image: url(../img/textures/texture13.png);}
.texture14{background-image: url(../img/textures/texture14.png);}
.texture15{background-image: url(../img/textures/texture15.png);}
.texture16{background-image: url(../img/textures/texture16.png);}
.texture17{background-image: url(../img/textures/texture17.jpg); background-size: 100%; background-repeat: no-repeat; background-color: #ffffff;}
.texture18{background-image: url(../img/textures/texture18.jpg); background-size: 100%; background-repeat: no-repeat; background-color: #ffffff;}
.texture19{background-image: url(../img/textures/texture19.jpg); background-size: 100%; background-repeat: no-repeat; background-color: #ffffff;}
.texture20{background-image: url(../img/textures/texture20.jpg); background-size: 100%; background-repeat: no-repeat; background-color: #ffffff;}
.texture21{background-image: url(../img/textures/texture21.jpg); background-size: 100%; background-repeat: no-repeat; background-color: #ffffff;}
.texture22{background-image: url(../img/textures/texture22.jpg); background-size: 100%; background-repeat: no-repeat; background-color: #ffffff;}
.texture23{background-image: url(../img/textures/texture23.jpg); background-size: 100%; background-repeat: no-repeat; background-color: #ffffff;}

/* Bg miniatures */
.background_select_box .color_only{background-image: url(../img/miniatures/color_only.png);}
.background_select_box .no_bg{background-image: url(../img/miniatures/no_bg.png);}


/* Texture miniatures */
.background_select_box .texture04{background-image: url(../img/miniatures/texture04.png);}
.background_select_box .texture17{background-image: url(../img/miniatures/texture17.jpg);}
.background_select_box .texture18{background-image: url(../img/miniatures/texture18.jpg);}
.background_select_box .texture19{background-image: url(../img/miniatures/texture19.jpg);}
.background_select_box .texture20{background-image: url(../img/miniatures/texture20.jpg);}
.background_select_box .texture21{background-image: url(../img/miniatures/texture21.jpg);}
.background_select_box .texture22{background-image: url(../img/miniatures/texture22.jpg);}
.background_select_box .texture23{background-image: url(../img/miniatures/texture23.jpg);}








/* BG position */
body.bg_position_tl.custom_pattern, body.bg_position_tl.custom_texture{background-position: top left;}
body.bg_position_tc.custom_pattern, body.bg_position_tc.custom_texture{background-position: top center;}
body.bg_position_tr.custom_pattern, body.bg_position_tr.custom_texture{background-position: top right;}
body.bg_position_cl.custom_pattern, body.bg_position_cl.custom_texture{background-position: center left;}
body.bg_position_cc.custom_pattern, body.bg_position_cc.custom_texture{background-position: center center;}
body.bg_position_cr.custom_pattern, body.bg_position_cr.custom_texture{background-position: center right;}
body.bg_position_bl.custom_pattern, body.bg_position_bl.custom_texture{background-position: bottom left;}
body.bg_position_bc.custom_pattern, body.bg_position_bc.custom_texture{background-position: bottom center;}
body.bg_position_br.custom_pattern, body.bg_position_br.custom_texture{background-position: bottom right;}
/* BG position end */

/* BG attachment */
body.bg_attatchment_normal{}
body.bg_attatchment_fixed{background-attachment: fixed;}
/* BG attachment end */

/* BG repeat */
body.bg_repeat_no.custom_pattern, body.bg_repeat_no.custom_texture{background-repeat: no-repeat;}
body.bg_repeat_x.custom_pattern, body.bg_repeat_x.custom_texture{background-repeat: repeat-x;}
body.bg_repeat_y.custom_pattern, body.bg_repeat_y.custom_texture{background-repeat: repeat-y;}
body.bg_repeat_xy.custom_pattern, body.bg_repeat_xy.custom_texture{background-repeat: repeat;}
/* BG repeat end */

/* BG repeat */
body.bg_size_cover.custom_pattern, body.bg_size_cover.custom_texture{background-size: cover;}
/* BG repeat end */

/* BG position and repeat visibility*/
.bg_repeat, .bg_position, .bg_size{display: none;}
.custom_pattern .bg_repeat,
.custom_texture .bg_repeat,

.custom_pattern .bg_position,
.custom_texture .bg_position,

.custom_pattern .bg_size,
.custom_texture .bg_size{
display: block;
}
/* BG position and repeat visibility end*/

/* Page boxed shadow */
@media (min-width: 768px){

#page{
max-width: 750px;
margin: 0px auto;
box-shadow: 0 0 4px rgba(0,0,0,0.2);
-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
-moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

}

@media (min-width: 992px){
#page{max-width: 970px;}
}

@media (min-width: 1199px){
#page{max-width: 1200px;}
}



/* No bg */
@media (min-width: 768px){
.no_bg #page{
max-width: 8000px;
margin: 0px auto;
box-shadow: 0 0 0px rgba(0,0,0,0);
-webkit-box-shadow: 0 0 0px rgba(0,0,0,0);
-moz-box-shadow: 0 0 0px rgba(0,0,0,0);
}
}

/* Bg inner */

@media (min-width: 768px){

.bg_inner_no #page{
background: none;
margin: 40px auto;
padding-bottom: 0px;
box-shadow: 0 0 0px rgba(0,0,0,0);
-webkit-box-shadow: 0 0 0px rgba(0,0,0,0);
-moz-box-shadow: 0 0 0px rgba(0,0,0,0);
}

.bg_inner_no .header-container{
max-width: 1170px;
padding: 0 15px;
margin: 0 auto 20px;
border: 1px solid #D6D4D4;
}

.bg_inner_no header {
padding-bottom: 0;
}

.bg_inner_no #block_top_menu {
padding: 4px 0 0;
}

.bg_inner_no #left_column .block_content,
.bg_inner_no #right_column .block_content{
background: #fff;
}

.bg_inner_no .columns-container {
background: none;
}

.bg_inner_no #columns{
padding-top: 0;
}

.bg_inner_no.pl_border_type1 ul.product_list.grid > li{
background: #fff;
}

.bg_inner_no .footer-container{
max-width: 1170px;
border: 1px solid #D6D4D4;
margin-bottom: 40px;
padding: 0 15px;
}

.bg_inner_no .center_bg {
background: #fff;
padding: 15px 15px 1px;
border: 1px solid #D6D4D4;
}

#index.bg_inner_no .center_bg {
background: none;
padding: 0;
border: 0;
}

#index.bg_inner_no .tab-content{
margin-bottom: 20px;
}

#index.bg_inner_no.pl_border_type2 .tab-content{
margin-bottom: 0px;
}

.bg_inner_no div#angarinfo_block{
border: 1px solid #D6D4D4;
background: #fff;
padding: 10px 0 14px;
margin: 10px 0 0px;
}

#product.bg_inner_no.product_layout2 .col-sm-9 .pb-left-column {
padding-right: 4px;
}
}

@media (min-width: 768px) and (max-width: 1199px){
.bg_inner_no .header-container{
max-width: 940px;
padding: 0 0px;
}
}


@media (min-width: 768px) and (max-width: 992px){
.bg_inner_no .header-container{
max-width: 720px;
}
}




/* Page boxed and no bg end */

/*** BG ***/









/*** HEADER ***/

/* Header separators */

.header_sep0 #currencies-block-top,
.header_sep0 #languages-block-top,
.header_sep0 header .nav,
.header_sep0 header .nav,
.header_sep0 #contact-link a,
.header_sep0 .shop-phone,
.header_sep0 .shop-phone:last-child,
.header_sep0 .header_user_info,
.header_sep0 .header_user_info a{
border: 0;
}

.header_sep1 #currencies-block-top,
.header_sep1 #languages-block-top,
.header_sep1 #contact-link a,
.header_sep1 .shop-phone,
.header_sep1 .shop-phone:last-child,
.header_sep1 .header_user_info,
.header_sep1 .header_user_info a{
border: 0;
}




/*** MENU ***/

/* Menu separators */

.menu_sep0 .sf-menu > li,
.menu_sep0 .sf-menu > li:first-child{
border: 0;
}

@media (min-width: 768px) {
.menu_sep1 .sf-menu > li:first-child {
border-left: 1px solid #dddddd;
}

.menu_sep1 .sf-menu > li {
border-right: 1px solid #e6e6e6;
}

.menu_sep2 .sf-menu > li{
border-right: 1px solid #e6e6e6;
}

.menu_sep2 #block_top_menu{
border-top: 1px solid #e6e6e6;
border-bottom: 1px solid #e6e6e6;
}
}

@media (max-width: 767px) {
.menu_sep2 .cat-title{
border: 1px solid #e6e6e6;
}

.menu_sep2 .sf-menu{
border-top: 0;
}
}



/* Menu separators end */

/* Submenu */
@media (min-width: 768px) {
.submenu1 .sf-menu li li ul {
display: block !important;
opacity: 1 !important;
}

.submenu1 .sf-menu li li ul li ul{
display: none !important;
opacity: 0 !important;
}

.submenu2 .sf-menu > li{position: relative;}
.submenu2 .sf-menu li ul{
padding: 0;
width: 200px;
margin: -1px 0 0 0;
background: #fff;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
opacity: 0;
}

.submenu2 .sf-menu li:hover ul {opacity: 1;}

/* 1 level */
.submenu2 .sf-menu li ul li{
width: 100%;
position: relative;
padding: 0;
}

.submenu2 .sf-menu li ul li a{
display: block;
color: #333333;
text-transform: initial;
font-weight: normal;
font-size: 14px;
line-height: 14px;
width: 100%;
padding: 12px 15px 10px;
display: block;
font-size: 14px;
text-transform: uppercase;
}

.submenu2 .sf-menu li ul li{
border-bottom: 1px solid #E1E1E1;
}

.submenu2 .sf-menu li ul li:last-child{
border-bottom: 0px;
}

.submenu2 .sf-menu li ul li a.sf-with-ul:after{
display: block!important;
position: absolute;
right: 14px;
top: 12px;
font-family: "FontAwesome";
content: "\f054";
padding-right: 0;
}

.submenu2 .sf-menu li ul li a:hover{
background: #1378CF;
color: #fff;
}

.submenu2 .sf-menu li ul li a:hover:after{display: none;}
.submenu2 #block_top_menu li.category-thumbnail{display: none;}

/* 2 level */
.submenu2 ul.sf-menu li li:hover ul, 
.submenu2 ul.sf-menu li li.sfHover ul,
.submenu2 .sf-menu li li ul{
position: absolute;
left: 200px;
top: 1px;
padding: 0;
background: #fff;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.submenu2 .sf-menu li li li ul {
width: 200px;
padding: 0;
}

.submenu2 .sf-menu li li li a:before{display: none;}

}


/* Submenu end */
/*** MENU END ***/









/*** Slider ***/

/* Slider boxed */
.slider_boxed div#slider_row{
margin: 15px auto 0;
max-width: 1170px;
}

.slider_boxed #angarbanners_top{
padding: 0 0;
}

.slider_position_column.slider_boxed div#slider_row{
margin-top: 0;
}

/* Slider controls */
.slider_controls_black #homepage-slider .bx-wrapper .bx-controls-direction a{
background: rgba(0, 0, 0, 0.5);
}

.slider_controls_black #homepage-slider .bx-wrapper .bx-controls-direction a:before{
color: #fff;
}

.slider_controls_black #homepage-slider .bx-wrapper .bx-controls-direction a:hover {
background: #000;
}












/*** PRODUCT-LIST QTY ***/
/* Product per row */

@media (min-width: 992px) {
/* One column */
.pl_1col_qty_2 .col-sm-12 ul.product_list.grid > li{width: 50%;}
.pl_1col_qty_3 .col-sm-12 ul.product_list.grid > li{width: 33.333%;}
.pl_1col_qty_4 .col-sm-12 ul.product_list.grid > li{width: 25%;}
.pl_1col_qty_5 .col-sm-12 ul.product_list.grid > li{width: 20%;}
.pl_1col_qty_6 .col-sm-12 ul.product_list.grid > li{width: 16.666%;}

.pl_1col_qty_2 .col-sm-12 ul.product_list.grid > li:nth-child(2n+1) {clear: both;}
.pl_1col_qty_3 .col-sm-12 ul.product_list.grid > li:nth-child(3n+1) {clear: both;}
.pl_1col_qty_4 .col-sm-12 ul.product_list.grid > li:nth-child(4n+1) {clear: both;}
.pl_1col_qty_5 .col-sm-12 ul.product_list.grid > li:nth-child(5n+1) {clear: both;}
.pl_1col_qty_6 .col-sm-12 ul.product_list.grid > li:nth-child(6n+1) {clear: both;}


/* Two column */
.pl_2col_qty_2 .col-sm-9 ul.product_list.grid > li{width: 50%;}
.pl_2col_qty_3 .col-sm-9 ul.product_list.grid > li{width: 33.333%;}
.pl_2col_qty_4 .col-sm-9 ul.product_list.grid > li{width: 25%;}
.pl_2col_qty_5 .col-sm-9 ul.product_list.grid > li{width: 20%;}
.pl_2col_qty_6 .col-sm-9 ul.product_list.grid > li{width: 16.666%;}

.pl_2col_qty_2 .col-sm-9 ul.product_list.grid > li:nth-child(2n+1) {clear: both;}
.pl_2col_qty_3 .col-sm-9 ul.product_list.grid > li:nth-child(3n+1) {clear: both;}
.pl_2col_qty_4 .col-sm-9 ul.product_list.grid > li:nth-child(4n+1) {clear: both;}
.pl_2col_qty_5 .col-sm-9 ul.product_list.grid > li:nth-child(5n+1) {clear: both;}
.pl_2col_qty_6 .col-sm-9 ul.product_list.grid > li:nth-child(6n+1) {clear: both;}


/* Three column */
.pl_3col_qty_2 .col-sm-6 ul.product_list.grid > li{width: 50%;}
.pl_3col_qty_3 .col-sm-6 ul.product_list.grid > li{width: 33.333%;}
.pl_3col_qty_4 .col-sm-6 ul.product_list.grid > li{width: 25%;}
.pl_3col_qty_5 .col-sm-6 ul.product_list.grid > li{width: 20%;}
.pl_3col_qty_6 .col-sm-6 ul.product_list.grid > li{width: 16.666%;}

.pl_3col_qty_2 .col-sm-6 ul.product_list.grid > li:nth-child(2n+1) {clear: both;}
.pl_3col_qty_3 .col-sm-6 ul.product_list.grid > li:nth-child(3n+1) {clear: both;}
.pl_3col_qty_4 .col-sm-6 ul.product_list.grid > li:nth-child(4n+1) {clear: both;}
.pl_3col_qty_5 .col-sm-6 ul.product_list.grid > li:nth-child(5n+1) {clear: both;}
.pl_3col_qty_6 .col-sm-6 ul.product_list.grid > li:nth-child(6n+1) {clear: both;}
}


@media (min-width: 768px) and (max-width: 991px) {
/* One column */
.pl_1col_qty_bigtablets_2 .col-sm-12 ul.product_list.grid > li{width: 50%;}
.pl_1col_qty_bigtablets_3 .col-sm-12 ul.product_list.grid > li{width: 33.333%;}
.pl_1col_qty_bigtablets_4 .col-sm-12 ul.product_list.grid > li{width: 25%;}
.pl_1col_qty_bigtablets_5 .col-sm-12 ul.product_list.grid > li{width: 20%;}
.pl_1col_qty_bigtablets_6 .col-sm-12 ul.product_list.grid > li{width: 16.666%;}

.pl_1col_qty_bigtablets_2 .col-sm-12 ul.product_list.grid > li:nth-child(2n+1) {clear: both;}
.pl_1col_qty_bigtablets_3 .col-sm-12 ul.product_list.grid > li:nth-child(3n+1) {clear: both;}
.pl_1col_qty_bigtablets_4 .col-sm-12 ul.product_list.grid > li:nth-child(4n+1) {clear: both;}
.pl_1col_qty_bigtablets_5 .col-sm-12 ul.product_list.grid > li:nth-child(5n+1) {clear: both;}
.pl_1col_qty_bigtablets_6 .col-sm-12 ul.product_list.grid > li:nth-child(6n+1) {clear: both;}


/* Two column */
.pl_2col_qty_bigtablets_2 .col-sm-9 ul.product_list.grid > li{width: 50%;}
.pl_2col_qty_bigtablets_3 .col-sm-9 ul.product_list.grid > li{width: 33.333%;}
.pl_2col_qty_bigtablets_4 .col-sm-9 ul.product_list.grid > li{width: 25%;}
.pl_2col_qty_bigtablets_5 .col-sm-9 ul.product_list.grid > li{width: 20%;}
.pl_2col_qty_bigtablets_6 .col-sm-9 ul.product_list.grid > li{width: 16.666%;}

.pl_2col_qty_bigtablets_2 .col-sm-9 ul.product_list.grid > li:nth-child(2n+1) {clear: both;}
.pl_2col_qty_bigtablets_3 .col-sm-9 ul.product_list.grid > li:nth-child(3n+1) {clear: both;}
.pl_2col_qty_bigtablets_4 .col-sm-9 ul.product_list.grid > li:nth-child(4n+1) {clear: both;}
.pl_2col_qty_bigtablets_5 .col-sm-9 ul.product_list.grid > li:nth-child(5n+1) {clear: both;}
.pl_2col_qty_bigtablets_6 .col-sm-9 ul.product_list.grid > li:nth-child(6n+1) {clear: both;}


/* Three column */
.pl_3col_qty_bigtablets_2 .col-sm-6 ul.product_list.grid > li{width: 50%;}
.pl_3col_qty_bigtablets_3 .col-sm-6 ul.product_list.grid > li{width: 33.333%;}
.pl_3col_qty_bigtablets_4 .col-sm-6 ul.product_list.grid > li{width: 25%;}
.pl_3col_qty_bigtablets_5 .col-sm-6 ul.product_list.grid > li{width: 20%;}
.pl_3col_qty_bigtablets_6 .col-sm-6 ul.product_list.grid > li{width: 16.666%;}

.pl_3col_qty_bigtablets_2 .col-sm-6 ul.product_list.grid > li:nth-child(2n+1) {clear: both;}
.pl_3col_qty_bigtablets_3 .col-sm-6 ul.product_list.grid > li:nth-child(3n+1) {clear: both;}
.pl_3col_qty_bigtablets_4 .col-sm-6 ul.product_list.grid > li:nth-child(4n+1) {clear: both;}
.pl_3col_qty_bigtablets_5 .col-sm-6 ul.product_list.grid > li:nth-child(5n+1) {clear: both;}
.pl_3col_qty_bigtablets_6 .col-sm-6 ul.product_list.grid > li:nth-child(6n+1) {clear: both;}
}


@media (min-width: 481px) and (max-width: 767px) {
/* One column */
.pl_1col_qty_tablets_2 ul.product_list.grid > li{width: 50%;}
.pl_1col_qty_tablets_3 ul.product_list.grid > li{width: 33.333%;}
.pl_1col_qty_tablets_4 ul.product_list.grid > li{width: 25%;}
.pl_1col_qty_tablets_5 ul.product_list.grid > li{width: 20%;}
.pl_1col_qty_tablets_6 ul.product_list.grid > li{width: 16.666%;}

.pl_1col_qty_tablets_2 ul.product_list.grid > li:nth-child(2n+1) {clear: both;}
.pl_1col_qty_tablets_3 ul.product_list.grid > li:nth-child(3n+1) {clear: both;}
.pl_1col_qty_tablets_4 ul.product_list.grid > li:nth-child(4n+1) {clear: both;}
.pl_1col_qty_tablets_5 ul.product_list.grid > li:nth-child(5n+1) {clear: both;}
.pl_1col_qty_tablets_6 ul.product_list.grid > li:nth-child(6n+1) {clear: both;}
}


@media  (max-width: 480px) {
/* One column */
.pl_1col_qty_phones_1 ul.product_list.grid > li{width: 100%;}
.pl_1col_qty_phones_2 ul.product_list.grid > li{width: 50%;}
.pl_1col_qty_phones_3 ul.product_list.grid > li{width: 33.333%;}
.pl_1col_qty_phones_4 ul.product_list.grid > li{width: 25%;}
.pl_1col_qty_phones_5 ul.product_list.grid > li{width: 20%;}
.pl_1col_qty_phones_6 ul.product_list.grid > li{width: 16.666%;}

.pl_1col_qty_phones_2 ul.product_list.grid > li:nth-child(2n+1) {clear: both;}
.pl_1col_qty_phones_3 ul.product_list.grid > li:nth-child(3n+1) {clear: both;}
.pl_1col_qty_phones_4 ul.product_list.grid > li:nth-child(4n+1) {clear: both;}
.pl_1col_qty_phones_5 ul.product_list.grid > li:nth-child(5n+1) {clear: both;}
.pl_1col_qty_phones_6 ul.product_list.grid > li:nth-child(6n+1) {clear: both;}
}









/*** HOME TABS ***/
.home_tabs1 h4.index_title{
display: none;
}

.home_tabs2 #home-page-tabs{
display: none;
}

.home_tabs2 .tab-content > .tab-pane,
.home_tabs2 .pill-content > .pill-pane{
display: block;
}






/*** PRODUCT-LIST STYLES ***/
/* Button icon */
.pl_button_icon_yes .button.ajax_add_to_cart_button span:before{display: none;}

/* Buttons qty */
.pl_button_qty1{}
.pl_button_qty2 ul.product_list.grid > li .product-container .button-container .lnk_view{display: none;}
.pl_button_qty3 ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button{display: none;}
.pl_button_qty4 ul.product_list.grid > li .product-container .button-container .lnk_view{display: none;}
.pl_button_qty4 ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button{display: none;}

/* Product-list border style 1 */
.pl_border_type1.pl_1col_qty_2 ul.product_list.grid.row {margin: 0 -2px 20px 1px;}
.pl_border_type1.pl_1col_qty_3 ul.product_list.grid.row {margin: 0 -3px 20px 1px;}
.pl_border_type1.pl_1col_qty_4 ul.product_list.grid.row {margin: 0 -4px 20px 1px;}
.pl_border_type1.pl_1col_qty_5 ul.product_list.grid.row {margin: 0 -5px 20px 1px;}
.pl_border_type1.pl_1col_qty_6 ul.product_list.grid.row {margin: 0 -6px 20px 1px;}

.pl_border_type1.pl_2col_qty_2 ul.product_list.grid.row {margin: 0 -2px 20px 1px;}
.pl_border_type1.pl_2col_qty_3 ul.product_list.grid.row {margin: 0 -3px 20px 1px;}
.pl_border_type1.pl_2col_qty_4 ul.product_list.grid.row {margin: 0 -4px 20px 1px;}
.pl_border_type1.pl_2col_qty_5 ul.product_list.grid.row {margin: 0 -5px 20px 1px;}
.pl_border_type1.pl_2col_qty_6 ul.product_list.grid.row {margin: 0 -6px 20px 1px;}

.pl_border_type1.pl_2col_qty_2 ul.product_list.grid.row {margin: 0 -2px 20px 1px;}
.pl_border_type1.pl_2col_qty_3 ul.product_list.grid.row {margin: 0 -3px 20px 1px;}
.pl_border_type1.pl_2col_qty_4 ul.product_list.grid.row {margin: 0 -4px 20px 1px;}
.pl_border_type1.pl_2col_qty_5 ul.product_list.grid.row {margin: 0 -5px 20px 1px;}
.pl_border_type1.pl_2col_qty_6 ul.product_list.grid.row {margin: 0 -6px 20px 1px;}

.pl_border_type1 #index ul.product_list.tab-pane > li.last-line,
.pl_border_type1 ul.product_list.grid > li {
background: #fff;
border: 1px solid #D6D4D4;
margin: -1px 0 0 -1px;
padding: 8px 8px 4px;
z-index: 0;
}

.pl_border_type1 ul.product_list.grid > li:hover {
-moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px 0px;
-webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px 0px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px 0px;
z-index: 99;
}


.pl_border_type1 ul.product_list.grid > li .product-container .product-image-container {border: 0; padding: 0px;}

/* Product-list border style 2 */
.pl_border_type2 ul.product_list.grid.row {margin: 0 -10px 0px;}

.pl_border_type2 ul.product_list.grid > li .product-container .price-percent-reduction{top: 8px; right: 8px;}

.pl_border_type2 #index ul.product_list.tab-pane > li.last-line,
.pl_border_type2 ul.product_list.grid > li {
margin: 0;
padding: 0 10px 20px;
}

.pl_border_type2 ul.product_list.grid > li .product-container {
padding: 8px 8px 8px 8px;
-moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px 0px;
-webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px 0px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px 0px;
}

.pl_border_type2 ul.product_list.grid > li .product-container:hover {
-moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px 0px;
-webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px 0px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px 0px;
}

.pl_border_type2 ul.product_list.grid > li .product-container .availability span {
margin-top: 2px;
}

.pl_border_type2.pl_availability_no ul.product_list.grid > li .product-container {
padding-bottom: 6px;
}

/* Desc hide */
.pl_desc_yes ul.product_list.grid > li .product-container .product-desc{display: none;}

/* Reviews hide */
.pl_reviews_yes #home_cat_product ul li .right-block h5,
.pl_reviews_yes #home_man_product ul li .right-block h5 {
margin-top: 6px;
}

.pl_reviews_yes #page ul.product_list .comments_note,
.pl_reviews_yes #columns .block_content .comments_note,
.pl_reviews_yes #home_cat_product ul li .right-block .hook-reviews,
.pl_reviews_yes #home_man_product ul li .right-block .hook-reviews {
display: none;
}

.pl_reviews_yes #columns .block .products-block .product-description,
.pl_reviews_yes #home_cat_product ul li .right-block p.product-desc,
.pl_reviews_yes #home_man_product ul li .right-block p.product-desc  {
display: block;
}















/* Availability hide */
.pl_availability_yes ul.product_list span.availability{display: none;}











/*** ORDER PAGE MODYFICATORS ***/
.order_gender_hide .gender{display: none;}
.order_birthday_hide .birthday{display: none;}


